In [1]:
import pandas as pd, seaborn as sns
df = sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [2]:
from sklearn.linear_model import LogisticRegression
df2 = df[['survived','pclass','age']].dropna()
X = df2[['pclass','age']]
y = df2['survived']
model = LogisticRegression(max_iter=200).fit(X, y)
print("Accuracy:", model.score(X, y))

Accuracy: 0.696078431372549

In [3]:
from sklearn.model_selection import cross_val_score
import numpy as np

scores = cross_val_score(model, X, y, cv=5)
print("CV accuracy mean:", np.mean(scores), "std:", np.std(scores))

CV accuracy mean: 0.6988574805476213 std: 0.060911294496275845

In [4]:
from sklearn.dummy import DummyClassifier
from sklearn.model_selection import cross_val_score
import numpy as np

# baseline: most frequent class
dummy = DummyClassifier(strategy="most_frequent")
baseline_scores = cross_val_score(dummy, X, y, cv=5)
print("Dummy baseline mean accuracy:", np.mean(baseline_scores))
print("Improvement over baseline (points):", 
      100 * (np.mean(scores) - np.mean(baseline_scores)))

Dummy baseline mean accuracy: 0.593834334679405
Improvement over baseline (points): 10.502314586821626